<div class="note d-flex mb-3"> 
  <div class="note-video-time">
    <%= link_to timecode(note.video_time), 'javascript:void(0);', id:"deep-link-#{note.id}", data: { seconds: note.video_time }, onclick: "seekPlayer(this.dataset.seconds)" %> 
  </div>
  <div class="note-text border-bottom", id="text">
    <%= note.text %>
  </div>
</div>

