.chat-room {
  width: 320px;
  height: 100%;
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  border-right: 1px solid lightgray;
  transition: .8s;
}
.chat-room.open-menu {
  width: 320px;
  display: block;
  z-index: 1;
}
#close-chat-button {
  font-size: 14px;
}


.chat-window {
  margin-top: 20px ;
  height: 500px;
  width: 100%;
  border: 1px solid;
  outline: solid 1px black;    /*外側の線になる一本線の枠線をひく */
  outline-offset: 2px;
  border-radius: 10px;
  background-color: rgb(219, 237, 250);
  position: relative;
}
.chat-room-name{
  font-weight: bold;
  margin-left: 10px;
}
/* メッセージ */
.chat-contents {
  margin: 5px 5px;
  height: 80%;
  overflow: auto;
  /*IE(Internet Explorer)・Microsoft Edgeでスクロールバー非表示*/
  -ms-overflow-style: none;
  /*Firefoxでスクロールバー非表示*/
  scrollbar-width: none;
}
.chat-contents::-webkit-scrollbar{
  display: none;
}

.chat-content {
  display: flex;
  flex-wrap: wrap;
}
.chat-content.left {
  flex-direction: row;
}
.chat-content.right {
  flex-direction: row-reverse;
}

.chat-body {
  margin: 5px 5px 16px; /* 上 左右 下のマージン */
  max-width: 80%;
}

.chat-user {
  font-size: 10px;
  display: flex;
}
.chat-user.left {
  flex-direction: row;
}
.chat-user.right {
  flex-direction: row-reverse;
}

.chat-message {
  font-size: 14px;
  background-color: white;
  border-radius: 10px;
  display: inline-block;
  position: relative; /* 三角の位置を固定するために設定 */
  padding: 8px 15px; /* ふきだし内の余白 */
  text-align: left; 
  display: flex;
  overflow-wrap: break-word;
  word-break: break-word;
}

.right .chat-message {
  background-color: rgb(85, 218, 85);
}

.chat-message::after {
  content: '';
  border: 14px solid transparent;
  
  position: absolute;
  top: 0;
}
.left .chat-message::after { /* 左側からの三角の位置 */
  left: -10px;
  border-top-color: white;
}
.right .chat-message::after { /* 右側からの三角の位置 */
  right: -10px;
  border-top-color: rgb(85, 218, 85);
}





/* フォーム */
.chat-form {
  margin:0 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  bottom: 5px;
  right: 0;
  left: 0;
}
.message-form {
  width: 100%;
  /* margin-bottom: 10px; */
}
.chat-submit {
  cursor: pointer;
  margin-left: 5px;
  font-size: 38px;
  color: rgb(21, 134, 226);
  transform: scaleX(-1);
}
.chat-submit label {
  cursor: pointer;
}