.wrapper {
  height: aut;
  width: 100%;
}

.container-fluid{
  max-width: 90%;
}

.top_page-wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  height: auto;
}
.side-wrapper {
  position: relative;
  height: auto;
}

.sidebar {
  width: 320px;
  min-height: 100vh;
  height: auto;
  border-right: 1px solid lightgray;
  z-index:1;
}


.header {
    /* background:linear-gradient(-45deg, #cacaca, rgb(255, 255, 255));   */
    /* background:linear-gradient(-45deg, #8deffc, #ffffff); */
    background:linear-gradient(-45deg, #37a76f, #ffffff);
}

