.open-chat-room {
  margin-top:20px;
  padding: 2px 5px;
  height: 25px;
  border: 1px solid gray;
  color: gray;
  border-radius: 5px;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.open-chat-room:hover {
  background-color: gray;
  color: white;
}



/* サイドバーメンバー */
.side-room-member-list {
  height: 220px;
  overflow: scroll;
}
.member-list {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.member-user-avatar {
  margin-left: 5px;
}
.member-user-name {
  margin-left: 10px;
}
.delete-room-member {
  margin:0 10px 0 auto;
  color: lightgray;
}
.delete-myself {
  border: 1px solid gray;
  border-radius: 3px;
  font-size: 12px;
}
  
.exit-room {
text-decoration: none;
color: gray;
padding: 2px;
}
.delete-myself :hover {
  background-color: gray;
  }
.exit-room:hover {
  color: white;
}

.side-add-member {
  display: flex;
}
.side-add-member-submit {
  height: 100%;
  padding:6px;
  margin-left: 10px;
  border: 1px solid;
  border-radius: 5px;
}
.side-add-member-submit:hover {
  color: white;
  background-color: gray;
}

