.partition-border {
  width: 40%;
  border-bottom: 1px solid lightgray;
}

.avatar-file {
  border-bottom: 1px solid blue;
  color: blue;
  cursor: pointer;
}

.avatar-submit {
  font-size: 12px;
  width: 35px;
  text-align: center;
  padding: 0px;
  border: 1px solid ;
  border-radius: 3px;
}
.avatar-submit:hover {
  background-color: gray;
  color: white;
}

/* 新しいbookの作成 */
.room-new-book-btn {
  display: flex;
  font-weight: bold;
  align-items: center;
  justify-content: start;
  
}
.room-new-book-link {
  text-decoration: none;
  color: gray;
  height: 30px;
  width: 50px;
  margin-top: 10px;
  border: 2px solid gray;
  border-radius: 5px;
  text-align: center;
}
.room-new-book-link:hover {
  color: white;
  background-color: gray;
}


.side-rooms {
  overflow: auto;
  height: 300px;
}