  <%# current_user以外のメッセージ/room_channelレスポンス用テンプレート %>
<div class="chat-content left">
  <div class="chat-user-icon">
    <% if message.user.avatar? %>
      <%= image_tag message.user.avatar.url, alt: "mdo", width:"30", height:"30", class:"rounded-circle user-icon" %>
    <% else %>
      <%= image_tag "default.png", alt: "mdo", width:"30", height:"30", class:"rounded-circle user-icon" %>
    <% end %>
  </div>
  <div class="chat-body">
    <div class="chat-user left">
      <%= message.user.nickname %>
    </div>
    <div class="chat-message">
      <div><%= message.text %></div>
    </div>
  </div>
</div>
