
.book-main-wrapper {
  display: flex;
  justify-content: space-between;
}

/* description表示・非表示 */
.fa-angle-down {
  cursor: pointer;
}
.book-top-wrapper input {
  display: none;
}
.book-top-wrapper .edit-book-description {
  height: 0;
  padding: 0;
  overflow: hidden;
  opacity: 0;
  transition: 0.8s;
}
.book-top-wrapper input:checked ~ .edit-book-description {
  padding: 10px 0;
  height: auto;
  opacity: 1;
}

/* notes表示 */

.notes-container {
  width: 80%;
  height: 360px;
  border-radius: 10px;
  margin:0 0 0 auto;
  border: solid 1px black;    	/* 内側の線になる一本線の枠線をひく*/
	outline: solid 1px black;    /* 外側の線になる一本線の枠線をひく*/
	outline-offset: 2px;
  margin-top: 2px;
}
.book-right-content {
  height: 100%;
}

/* note追加 */
.add-note-wrapper {
  width: 80%;
  margin-top: 20px;
  margin-bottom: 30px;
  /* margin: auto; */

}

.add-note-info {
  border-bottom: 1px solid;
}

.note {
  display: flex;
  justify-content: start;
}

.display-area {
  min-height: 40px;
  margin-bottom: 20px;
  border-bottom: 1px solid black;
}
.display-note {
  width: 100%;
  padding-left: 20px;
}

.note-form {
  border-bottom: 1px solid black;
  min-height: 40px;
}

.note-text {
  border: none;
  height: 50px;
  width: 100%;
  outline: none;
}

