<div class="member-list">
  <div>-</div>
  <div class="member-user-avatar">
    <% if user.avatar? %>
      <%= image_tag user.avatar.url, alt: "mdo", width:"40", height:"40", class:"rounded-circle user-icon" %>
    <% else %>
      <%= image_tag "default.png", alt: "mdo", width:"40", height:"40", class:"rounded-circle user-icon" %>
    <% end %>
  </div>
  <div class="member-user-name">
    <%= user.nickname %>
  </div>
  <div class="delete-room-member">
  <%= link_to remove_member_room_path(@room.id, user_id: user.id), method: :delete do %> 
    <i class="far fa-times-circle text-secondary"></i>
  <% end %>
  </div>
</div>