<div class="wrapper">
  <div class="header">  
    <%= render "shared/header" %>
  </div>
  <div class="top_page-wrapper">

    <div class="side-wrapper">
      <%= render "shared/rooms_sidebar" %> 
    </div>

    <div class="main-wrapper">
      <div class="container-fluid main-container">
      <h2 class="main-heading"><i class="fas fa-book"></i><span class="text-danger">B</span>ooks</h2>
        <%= render partial: "books/book", locals: { books: @books } %> 
      </div>
    </div>

  </div>
</div>