.books-wrapper {
  display: flex;
  flex-wrap: wrap;
}
.book-container {
  width: 300px;
  margin-right: 20px;
  margin-bottom: 40px;
}

.card-bod {
  padding:16px 16px 0 16px
}

.card-text {
  height: 100px;
  overflow: hidden;
  margin-bottom: 10px;
}
.card-title {
  width: 100%;
  height: 30px;
  border-bottom: 1px solid;
  overflow: hidden;
}

.body-link {
  text-decoration: none;
  color: black;
}
.body-link:hover {
  color: black
}