.new-book-wrapper {
  width: 100%;
}

.new-book-container {
margin: 60px auto;
width: 70%;
}

.new-book-head {
  width: 60%;
  border-bottom: 1px solid;
}

.new-book-form {
  margin-top: 40px;
  margin-left: 40px;
}

.new-book-submit-button {
  padding-left: 20px;
  position: relative;
}
.new-book-submit-button:hover .form-book-open {
  opacity: 1;
}
.new-book-submit-button:hover .form-book-close {
  opacity: 0;
}
.form-book-close {
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
}
.form-book-open {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  cursor: pointer;
}
