.show-book-wrapper {
  width: 100%;
  height: 100%;
  padding-top: 15px;
}
.book-top-wrapper {
  margin: 0 5%;
}


.book-main-wrapper {
  display: flex;
  justify-content: space-between;
  height: 100%;
}

/* description表示・非表示 */
.fa-angle-down {
  cursor: pointer;
}
.book-top-wrapper input {
  display: none;
}
.book-top-wrapper .show-book-description {
  height: 0;
  padding: 0;
  overflow: hidden;
  opacity: 0;
  transition: 0.8s;
}
.book-top-wrapper input:checked ~ .show-book-description {
  padding: 10px 0;
  height: auto;
  opacity: 1;
}

.book-left-content {
  position: relative;
  padding: 0px 10px;
}
/* プレーヤー */
.player-wrapper {
  padding-left: 50px;
}

.player-container {
  aspect-ratio: 16 / 9;
}

.youtube-player {
  width: 100%;
  height: 100%;
}
/* レスポンシブ化用 */
/* @media (max-width: 1024px) {
  .book-main-wrapper {
    display: block;
    height: 100%;
  }
  .book-left-content {
    width: 90%;
    height: 100%;
  }
} */

/* notes表示 */

.book-right-content {
  aspect-ratio: 16 / 9;
}
.notes-window {
  width: 90%;
  height: 100%;
  border-radius: 10px;
  margin:0 0 0 auto;
  border: solid 1px black;
  background-color: rgb(255, 255, 255);
  margin-top: 2px;
  margin-bottom: 2px;
  box-shadow: 2px 2px 2px 2px rgb(44, 44, 44); 
}
.notes-info{
  width: 90%;
  margin:0 0 0 auto;
  font-size: 12px;
  text-align: end;
}

.notes {
  height: calc(100% - 48px);
  overflow: auto;
}

/* 現動画時刻のnoteの表示 */
.display-area {
  border-bottom: 3px double black;
  min-height: 50px;
  width: 50%;
  margin-bottom: 10px;
}
.display-now {
  font-size: 20px;
}
.display-note {
  padding-left: 20px;
  font-size: 18px;

}


/* note追加 */
.add-note-wrapper {
  padding: 20px 0;
}
.note-form-area {
  width: 95%;
  margin: auto;
  padding: 10px 2%;
  border: solid 1px rgb(122, 1, 1); 
	outline: solid 1px rgb(122, 1, 1);
	outline-offset: 2px;
  border-radius: 10px;
}
.note-form-container {
  width: 80%;
}

.video-time-form {
  width: 80%;
  margin-bottom: 10px;
  margin-top: 10px;
}

.video-time-form .fa-pencil  {
  cursor: pointer;
  color: rgb(30, 31, 121);
}

#video-time-display {
  text-align: center;
  font-size: 14px;
  width: 45px;
  border-bottom: 1px solid;
}

.note-form {
  border-bottom: 1px solid black;
  width: 100%;
}

.new-note-text {
  border: none;
  height: 50px;
  width: 100%;
  outline: none;
}
/* submit label */
.note-submit {
  display: flex;
  align-items: center;
  width: 60px;
  height: 40px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  border:1px solid;
  border-radius: 10px;
}
.note-submit:hover {
  background-color: gray;
  color: white;
}

