.wrapper {
  height: 100vh;
}

.main-wrapper {
  height: 100%;
  width: 100%;
  overflow: auto;
}
.main-container {
  height: 100%;
}
.main-heading {
  height: 50px;
  margin: 20px 0;
  border-bottom: 1px solid;
}

.main-heading .fa-book {
  padding-right: 10px;
  color: navy;
}
