.modal-dl {
  max-width: 500px;
  height: calc(100vh - 80px);
  margin: 20px 70px 0 auto;
  display: flex;
}
.tubook-description {
  margin-top: 30px;
  margin-left: 50px;
  width: 700px;
}
.tubook-description h2 {
  text-align: center;
}
.description {
  display: flex;
  margin-top: 40px;
}
.description-img {
  border: 2px solid;
}
.description-text {
  margin-left: 40px;
  width: 400px;
}
.lets-start {
  margin: 20px 10px 20px auto;
  padding-bottom: 10px;
  width: 180px;
  display: flex;
  border-bottom: 1px solid;
}
.lets-start .text{
  font-size: 20px;
  font-weight: bold;
  margin-right: 10px;
}

@media (max-width: 1024px) {
  .tubook-description {
    display: none;
  }
}